html, body{
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


/* -------- Header -------- */
header{
    width: 100%;
    height: 110px;
    background-color: white;
    box-shadow: -5;
    z-index: 10;
    position: fixed;
    box-shadow: 2px 2px 20px black;
    top: 0px;
}

#logo{
    margin: 10px;
    width: 250px;
    height: 80px;
}

#logo:hover{
    width: 300px;
    height: 90px;
}

#menu-header{
    margin-top: 45px;
    margin-right: 15px;
}

li{
    display: inline;
    padding: 20px;
    margin-right: 10px;
}

li a{
    color:#054f77;
}

li:hover{
    padding: 25px;
}

/* ------ CENTRO ------- */
#bloco-centro{
    width: 90%;
    border: 2px white solid;
    margin: 0% 5% 5% 5%;
    padding-bottom: 30%;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

#titulosala{
    margin-left: 10%;
    margin-bottom: 0;
}

.links-centro{
    padding: 10% 5%;
    margin: 0 5px 0 5px;
    background-color: #4682B4;
    width: 25%;
}

.links-centro:hover{
    background: url(../img/fundocor.jpg)
}

#links1{
    display: block;
    padding: 10%;
}

#links2{
    display: block;
    margin: 1%;
    padding: 10%;
}

#links3{
    display: block;
    margin: 1%;
    padding: 10%;
}

/* -------- Footer -------- */
footer{ 
    background: url(../img/fundocor.jpg);
    height: 50px;
    padding-bottom: 100px;
    margin: 0;
    background-size: cover;
    clear: both;
    color: white;
    box-shadow: -2px -2px 20px black;
}
footer img{
    width: 160px;
    height: 130px;
    margin: 10px;
}

footer img:hover{
    width: 170px;
    height: 140px;
    margin: 8px;
    margin-left: 2px;
    margin-bottom: 8px;
}

footer p{
    text-align: center;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0px;
}

/* -------- CSS Reutilizavél -------- */
.left{ 
    float: left;
}

.right{
    float: right;
}

a{
    color: white;
    text-decoration: none;
}

.arredondado{
    border-radius: 10px;
}

.borda{
    border: 1px #054f77 solid;
}

.section-borda{ 
    margin: 3%;
    margin-top: 10%;
}