html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}


/* -------- Header -------- */
header{
    width: 100%;
    height: 110px;
    background-color: white;
    box-shadow: -5;
    z-index: 10;
    position: fixed;
    box-shadow: 2px 2px 20px black;
    top: 0px;
}

#logo{
    margin: 10px;
    width: 250px;
    height: 80px;
}

#logo:hover{
    width: 300px;
    height: 90px;
}

#menu-header{
    margin-top: 45px;
    margin-right: 15px;
}

li{
    display: inline;
    padding: 20px;
    margin-right: 10px;
}

li a{
    color: #4682B4;
}

li:hover{
    padding: 25px;
    background-color: #054f77;
    box-shadow: 2px 2px 5px #4682B4;
}

/* ------ CENTRO ------- */


.design {
    width: 25%;
    background-color: #4682B4;
    margin: 10px;
    padding: 90px 0px;
    box-shadow: 2px 2px 5px;
}

.design:hover {
    background-color: #054f77;
    box-shadow: 5px 5px 20px;
}

.linksdesign {
    padding: 80px 40px;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: #054f77;
    padding-bottom: 20px;
}

#titulo2 {
    margin-top: 10%;
}

h3 {
    color: #DA70D6;
    margin-right: 65%;
    margin-top: 5%;
    margin-bottom: 20px;
}

.div {
    padding-bottom: 60%;
    margin-left: 16%;
}

/* -------- Footer -------- */
footer{ 
    background: url(../img/fundocor.jpg);
    height: 50px;
    padding-bottom: 100px;
    margin: 0;
    background-size: cover;
    clear: both;
    color: white;
    box-shadow: -2px -2px 20px black;
}
footer img{
    width: 160px;
    height: 130px;
    margin: 10px;
}

footer img:hover{
    width: 170px;
    height: 140px;
    margin: 8px;
    margin-left: 2px;
    margin-bottom: 8px;
}

footer p{
    text-align: center;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0px;
}

/* -------- CSS Reutilizavél -------- */
.left{ 
    float: left;
}

.right{
    float: right;
}

a{
    color: white;
    text-decoration: none;
}

.arredondado{
    border-radius: 10px;
}

.borda{
    border: 1px #054f77 solid;
}

.margem-cima {
    margin-top: 10%;
}

.margem-baixo {
    margin-bottom: 12%;
}

p {
    padding: 10px;
    margin: 20px;
    margin-left: 6%;
}

.centralizado {
    text-align: center;
}

.fundocinza {
    background-color:white;
}

.icone {
    width: 40px;
    height: 25px;
}

/* RESPONSIVO */
@media all and (max-width: 1024px) {

    #menu-header {
        margin-right: 20px;
    }

    h2 {
        padding: 10% 10%;
    }

    .div {
        margin-left: 15%;
    }

    #titulo2 {
        margin-top: 90%;
    }

    .design {
        width: 40%;
        padding: 100px 0px;
    }

    .margem-baixo {
        margin-bottom: 90%;
    }
}

/* RESPONSIVO */
@media all and (max-width: 1299px){

    .div {
        padding-bottom: 80%;
        margin-left: 4%;
    }

    .design {
        width: 30%;
    }

    #titulo2 {
        margin-top: 15%;
    }
}

/* RESPONSIVO */
@media all and (max-width: 859px){
    #menu-header {
        visibility: hidden;
    }

    #logo {
        margin: 10px 20px;
        margin-left: 5%;
    }

    #logoimg {
        text-align: center;
    }

    .imgLogo {
        text-align: center;
    }

    .left  {
        float: none;
    }

    .right  {
        float: none;
    }

    h2 {
        font-size: 50px;
        padding: 65% 5%;
    }
    .div {
        padding-bottom: 10%;
        margin: 5%;
    }

    .design {
        padding: 45px 0px;
        width: 93%;
    }

    .pfooter {
        display: none;
    }

    #footerimg {
        margin: 5px 24%;
    }

    #titulo2 {
        margin-top: 20%;
    }

}


/*
html, body {
    background-color: #1c1c1c;
    color: white;
}

header {
    background-color: black;
}

h2 {
    color: #4682B4;
}

.fundocinza {
    background-color: black;
}

.design {
    background-color: black;
    box-shadow: 2px 2px 5px #4682B4;
}

.design:hover {
    box-shadow: 2px 2px 20px #4682B4;
}

a {
    color: #4682B4;
}
*/